.avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 182px;
}

.avatar__img {
  position: relative;
  width: 182px;
  height: 182px;
  border: 1px solid #636e72;
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $light-gray;
  background: url("../img/default_avatar-gray.png") no-repeat;
  background-size: 100%;
  background-position: 50%;
  margin-bottom: 15px;

  &:hover .avatar__upload {
    bottom: 0;
  }
}

.avatar__upload {
  position: absolute;
  content: '';
  bottom: -60px;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  padding: 10px;
  transition: 0.3s;
}

.avatar__upload-text {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;

  &:hover {
    font-weight: bold;
    color: #fff;
  }
}

.avatar__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 3;

  &:hover + .button-avatar{
    color: #636e72;
    border: 2px solid #636e72;
  }
}

.avatar__text {
  padding-top: 40px;
  margin: 0;
}
