.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */

//////
.selected-item {
  margin: 20px 0;
  text-align: center;
  p {
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }
}
/* dropdown list */
.dropdown {
  margin: 20px auto;
  width: 200px;

  position: relative;
  perspective: 800px;
  &.active {
    display: block;
    .selLabel {
      &:after {
        content: '\25B2';
      }
    }
    .dropdown-list {
      li {
        &:nth-child(1) {
          transform: translateY(100%);
        }
        &:nth-child(2) {
          transform: translateY(200%);
        }
        &:nth-child(3) {
          transform: translateY(300%);
        }
        &:nth-child(4) {
          transform: translateY(400%);
        }
      }
    }
  }
  > span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    line-height: 24px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: #34495e;
    display: block;
    padding: 12px;
    position: relative;
    z-index: 9;
    cursor: pointer;

    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    user-select: none;

    &:after {
      content: '\25BC';
      position: absolute;
      right: 0px;
      top: 15%;
      width: 50px;
      text-align: center;
      font-size: 12px;
      padding: 6px;
      height: 70%;
      line-height: 24px;
      border-left: 1px solid #ddd;
    }
    &:active {
      transform: rotateX(45deg);
      &:after {
        content: '\25B2';
      }
    }
  }
}
.dropdown-list {
  position: absolute;
  top: 0px;
  width: 100%;
  li {
    display: block;
    list-style: none;
    left: 0;
    opacity: 1;
    transition: transform 300ms ease;

    position: absolute;
    top: 0;
    width: 100%;
    &:nth-child(1) {
      background-color: lighten( $select-color, 10% );
      z-index: 4;
    }
    &:nth-child(2) {
      background-color: lighten( $select-color, 15% );
      z-index: 3;
    }
    &:nth-child(3) {
      background-color: lighten( $select-color, 20% );
      z-index: 2;

    }
    &:nth-child(4) {
      background-color: lighten( $select-color, 25% );
      z-index: 1;
    }
    span {
      box-shadow: 0 1px 1px rgba(0,0,0,0.2);
      -webkit-backface-visibility: hidden;
      -webkit-touch-callout: none;
      user-select: none;

      width: 100%;
      font-size: 18px;
      line-height: 24px;
      padding: 12px;
      display: block;
      color: #fff;
      cursor: pointer;
      letter-spacing: 2px;
    }
  }
}
