.edit-profile__wrapper {
  display: flex;
  justify-content: space-between;
}

.edit-profile__block {
  display: flex;
  justify-content: space-between;
}

.edit-profile__info {
  max-width: 600px;

}

.edit-profile__left {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
}

.edit-profile__right {
  width:  75%;
  flex-direction: column;
  justify-content: space-between;
}

.edit-profile__calendar {
  display: flex;
  flex-direction: column;
}

.edit-profile__calendar-text {
  font-size: 22px;
  font-weight: bold;
  color: #636e72;
}

.input-firstname {
  margin: 0;
}

.edit-profile__input {
  height: 60px;
  margin-top: 20px;
}

.edit-list {
  font-size: 16px;
}

.edit-list__item {
  margin-bottom: 20px;
}
