.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 40px;
}

.header-title {
  margin-left: auto;
  font-size: 55px;
  color: black;
  margin-right: -50px;
}

.header-user {
  position: relative;
  margin-left: auto;
}

.user-icon:hover {
  color: gray;
  cursor: pointer;
}

.arrdown-icon:hover {
  color: #636e72;
}

.header-user__arrow {
  cursor: pointer;
  margin-left: 5px;
}

.header-user__menu {
  position: absolute;
  content: '';
  top: 45px;
  right: -16px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 20px;
  border-radius: 5px;
  min-height: 105px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
  transition: 0.2s;
  background-color: white;
  z-index: 99;
}

.user-menu__item {
  position: relative;
  font-size: 16px;
  padding: 18px 22px 0;
}

.user-menu__item:first-child::before {
  content: '';
  position: absolute;
  top: -16px;
  right: -1px;
  border: 11px solid transparent;
  border-bottom: 11px solid white;
}

.user-menu__item > a {
  position: relative;
}

.user-menu__item > a::after {
  content: "";
  display: block;
  height: 0.15em;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  background-image: linear-gradient(to right, transparent 50.3%, $electromagnetic 50.3%);
  transition: background-position .2s .1s ease-out;
  background-size: 200% auto;
}

.user-menu__item > a:hover::after {
  background-position: -100% 0;
}

.user-menu__item {
  position: relative;
}

.user-menu__item:nth-child(2)::before,
.user-menu__item:last-child::before{
  position: absolute;
  content: '';
  top: 7px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

///////////////////////////
/* Для workout.html*/
//////////////////////////

.heading--workout {
  padding-top: 40px;
  margin-bottom: 45px;
}

.heading-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: -30px;
  margin-bottom: 0;
}

.heading__list-item {
  margin: 0;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 19px;
  transition: 0.08s;

  &:hover {
    transform: scale(1.1);
  }
}

.heading__list-item:last-child {
  margin-right: 0;
}

