.box {
  position: relative;
  top: 0;
  opacity: 1;
  margin: 0 auto;
  padding: 60px 50px 40px 50px;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.overbox .title {
  color: black;
}

.overbox .title:before {
  background: black;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
  position: relative;
}

.title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: black;
}

.input,
.input label,
.input input,
.input .spin,
.material-button .shape:before,
.material-button .shape:after {
  transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin {
  width: 100%;
  float: left;
}

.input {
  margin-top: 30px;
  height: 70px;
}

.input,
.input input,
.button,
.button button {
  position: relative;
}

.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
}

.input input,
.input label,
.button button {
  font-family: "ProximaNova-Light", Serif;
  font-size: 22px;
  color: #636e72;
  font-weight: 600;
  outline:  none;
}

.input:before,
.input .spin {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.input-pass, .input-reregpass {
  margin-bottom: 40px;
}

.input:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.input .spin {
  background: black;
  z-index: 4;
  width: 0;
}

.overbox .input .spin {
  background: black;
}

.overbox .input:before {
  background: #bdc3c7;
}

.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}

.pass-forgot {
  width: 100%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.overbox {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 45px;
  overflow: inherit;
  border-radius: 10px;
  padding: 60px 50px 40px 50px;
}

.overbox .title,
.overbox .input {
  z-index: 111;
  position: relative;
  color: black;
  display: none;
}

.overbox .title {
  width: 80%;
}

.overbox .input {
  margin-top: 20px;
}

.overbox .input input,
.overbox .input label {
  color: #636e72;
}

.overbox .material-button,
.overbox .material-button .shape,
.overbox .alt-2,
.overbox .alt-2 .shape {
  display: block;
}

.material-button,
.alt-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f1f2f6;
  position: absolute;
  top: 40px;
  right: -35px;
  cursor: pointer;
  z-index: 11;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 20px;
  height: 3px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 20px;
  width: 3px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

.materialContainer {
  width: 100%;
  min-height: 620px;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
