@import "blocks/variables.scss";
@import "blocks/side-menu.scss";
@import "blocks/header.scss";
@import "blocks/login.scss";
@import "blocks/forgot-pass.scss";
@import "blocks/button.scss";
@import "blocks/button-elements.scss";
@import "blocks/breadcrumb.scss";
@import "blocks/avatar.scss";
@import "blocks/edit.scss";
@import "blocks/datepicker.scss";
@import "blocks/footer.scss";
@import "blocks/training.scss";
@import "blocks/card.scss";
@import "blocks/decor-elements.scss";



@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}


html,
body {
  height: 100%;
}

body {
  font-family: "ProximaNova-Light", "Arial", Serif;
}

a, a:hover {
  color: black;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}
