.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.2);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f2f6;
  padding: 0 15px;
  margin-bottom: 15px;
}

.card-header__left {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.card-header__right {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.card-content__wrapper {
  padding: 20px;
}

.card-content__info {
  position: relative;
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    padding-top: 10px;
  }
}

.card-content__title {
  font-size: 17px;
  padding: 0 20px;
  margin: 0;
  align-self: center;
}

.card-content__text {
  padding: 0 20px;
}

.card-header__item {
  position: relative;
  font-weight: bold;
  margin: 0;
  margin-right: 20px;
}

.card-header__item:last-child {
  margin-right: 0;
}

.card-header__item::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 20px;
  top: 0;
  right: -10px;
  background-color: gray;
}

.card-header__item:nth-child(3)::after {
  content: none;
}

.card-header__item:last-child::after {
  content: none;
}

.card-content__exercise {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content__list-item {
  position: relative;
  padding: 0 20px;
  padding-bottom: 5px;
  margin: 0;
}


.card-header__item--success {
  margin-top: 3px;
}

.success-check-btn {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.edit-btn {
  width: 20px;
  height: 20px;
  transition: fill 0.2s;
  cursor: pointer;

  &:hover {
    fill: dodgerblue;
  }
}

.delete-btn {
  width: 20px;
  height: 20px;
  transition: fill 0.2s;
  cursor: pointer;

  &:hover {
    fill: red;
  }
}

.card-content {
  position: relative;
  border: 1px dashed  rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.card__date-picker {
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  max-width: 140px;
  border-radius: 4px;
  transition: 0.2s;
  min-height: 36px;
  margin-right: 15px;
  font-size: 16px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.7);

  &:focus {
    box-shadow: 0 0 0 2px rgba(30, 144, 255, 1);
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.card__select {
  min-width: 100px;
  max-width: 600px;
}

.card__input {
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  max-width: 80px;
  border-radius: 4px;
  transition: 0.2s;
  min-height: 36px;
  font-size: 16px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.7);

  &:focus {
    box-shadow: 0 0 0 2px rgba(30, 144, 255, 1);
  }
}

.card__workout {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.card__select--workout {
  min-width: 160px;
}

.card__errors {
  display: flex;
  flex-direction: column;
}

.card__errors-text {
  color: red;
  padding: 0 20px;
}

.card__comment {
  padding: 20px;
}

.card-comment__textarea {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 0.2s ease-in;

  &:focus {
    box-shadow: 0 0 0 2px rgba(30, 144, 255, 1);
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.card__add {
  padding: 10px 20px 0 20px;
}

.card__add-btn {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.card__add-btn--workout {
  margin-top: 15px;
}

.card__btn-delete {
  position: absolute;
  top: -14px;
  right: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  overflow: hidden;
  background: rgba(206, 73, 67, 0.8);
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background: rgba(206,42,33, 1);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 90%;
    top: 50%;
    left: 1px;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 120% 0;
  }

  &::before {
    transform: rotate(46deg);
  }

  &::after {
    transform: rotate(-44deg);
  }
}

.card__actions {
  padding: 0 20px 20px 20px;
  display: flex;
}

.card__actions button {
  //border: 1px solid rgba(0, 0, 0, 0.5);
  border: none;
  position: relative;
  background: none;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  padding: 5px;
  transition: 0.2s;

  &::after, &::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }

  &::after {
    height: 100%;
    width: 1px;
    bottom: 0;
    left: 0;
  }

  &::before {
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
  }

  &:hover {
    cursor: pointer;

    &::after {
      height: 0;
    }

    &::before {
      width: 100%;
    }
  }
}

.card__actions-save {
  margin-left: auto;
  margin-right: 10px;

  &:hover {
  }
}

.card__actions-cancel {
  &:hover {
  }
}

.card__note {
  position: relative;
  padding: 15px 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cccccc;
  }
}

.card__exercise-del {
  position: relative;
  border: none;
  font-family: inherit;
  outline: none;
  border-radius: 4px;
  background: transparent;
  width: 20px;
  transition: 0.2s;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    top: 50%;
    left: 1px;
    margin-top: -2px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 120% 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
  }
}
