
:focus {
  outline: none;
}

.input-container {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 auto;

  input[type="text"],
  input[type="password"] {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(19, 23, 44);
  }

  .input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $light-purple;
    transition: 0.4s;
  }

  .input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
  }
}


