.side-drawer {
  width: 70%;
  max-width: 300px;
  height: 100%;
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  background: #2f3640;
  z-index: 200;
  transform: translateX(-101%);
  transition: transform 0.3s ease-out;

  &.open {
    transform: translateX(0);
  }
}

.side-drawer__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-drawer__items li {
  color: white;
  margin: 0.5rem 0;
}

.side-drawer__items a {
  color: white;

  &.active {
    text-decoration: underline;
  }

  &:hover {
    color: orange;
  }

  &:active {
    color: darkred;
  }
}
