$electromagnetic : #2f3640;
$light-gray: #f1f2f6;
$select-color: #34495e;
$checked-color: #34b93d;
$unchecked-color: #000;
$checkbox-height: 20px;
$background-color:#667788;
$font-color:#efefef;
$duration: .4s;
$light-purple: #624AD8;
