@import "blocks/variables";
//@import "blocks/side-menu";
@import "blocks/header";
@import "blocks/login";
@import "blocks/forgot-pass";
//@import "blocks/button";
//@import "blocks/button-elements";
@import "blocks/breadcrumb";
@import "blocks/avatar";
@import "blocks/edit";
@import "blocks/datepicker";
@import "blocks/footer";
@import "blocks/training";
@import "blocks/decor-elements";
@import "blocks/wishes";
@import "blocks/custom-dropdown";
@import "blocks/card";
@import "blocks/checkbox";

@import "modules/toolbar";

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "ProximaNova-Light";
  height: 100%;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}


