@import "modules/variables";
@import "modules/toolbar";
@import "modules/main";
@import "modules/footer";
@import "modules/card";
@import "modules/training";


@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "ProximaNova-Light";
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  min-height: calc(100vh - 165px);
}


