@import "blocks/variables";
@import "blocks/side-menu";
@import "blocks/header";
@import "blocks/login";
@import "blocks/forgot-pass";
@import "blocks/button";
@import "blocks/button-elements";
@import "blocks/breadcrumb";
@import "blocks/avatar";
@import "blocks/edit";
@import "blocks/datepicker";
@import "blocks/footer";
@import "blocks/training";
@import "blocks/decor-elements";
@import "blocks/wishes";
@import "blocks/custom-dropdown";
@import "blocks/card";
@import "blocks/checkbox";

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

body {
  height: 100%;
}

body {
  font-family: "ProximaNova-Light";
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
}
